<style>
    label {
        margin: 0;
    }
</style>

<div class="card my-1">
    <div class="row card-body  align-items-center">
        <div class="col-md-2">
            {{itemPicture}}
        </div>
        <div class="col-md-2">{{itemName}}</div>
        <div class="col-md-2">{{restaurant.name}}</div>
        <div class="col-md-2">{{itemType}}</div>
        <div class="col-md-2">
            <label class="row align-items-center">
                <span class="col-md-6">QTY</span>
                <input class="col-md-6 form-control item-quantity" data-item-cost={{itemCost}} type="number" name={{_id}} min="1" value="1">
            </label>
        </div>
        <div class="col-md-1 item-cost">{{itemCost}}</div>
        <div class="col-md-1">
            <button type="button" class="btn btn-danger delete-item-btn">Delete</button>
        </div>
    </div>
</div>
