<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../views/public/scripts/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../views/public/scripts/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../views/public/scripts/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../views/public/scripts/fonts/themify/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="../views/public/scripts/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="../views/public/scripts/fonts/elegant-font/html-css/style.css">
    <link rel="stylesheet" type="text/css" href="../views/public/scripts/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="../views/public/css/util.css">
    <link rel="stylesheet" type="text/css" href="../views/public/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
    </style>
</head>

<body>

    <header class="header1">
        <!-- Header desktop -->
        <div class="container-menu-header">


            <div class="wrap_header">
                <!-- Logo -->
                <a href="#" class="logo">
                    <img src="../public/images/logo/logo.jpg" alt="IMG-LOGO">
                </a>


                <div class="header-icons">
                    <div class="dropdown">
                        <img src={{userDisplayPicture}} class="header-icon1" class="dropdown-toggle" data-toggle="dropdown" alt="ICON" style="border-radius:50%; height:32px;">
                        <ul class="dropdown-menu">
                            <li>
                                <a href="../restaurants">Restaurants</a>
                            </li>
                            <li>
                                <a href="../orders">Orders</a>
                            </li>
                            <li>
                                <a href="../logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                

                    <span class="linedivide1"></span>

                    <div class="header-wrapicon2">
                        <img src="../public/images/icons/cart.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        <span class="header-icons-noti">{{cartQuantity}}</span>

                        
                            <div class="header-cart header-dropdown">
                                <ul class="header-cart-wrapitem">
                                    {{!-- cartItems notifications --}}
                                </ul>

                                <div class="header-cart-total">
                                    {{!-- cartItems total --}}
                                </div>

                                <div class="header-cart-buttons">
                                    <div class="header-cart-wrapbtn">

                                        <a href="../viewCartItems" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                            View Cart
                                        </a>
                                    </div>

                                    
                                </div>
                            </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="#" class="logo-mobile">
            <img src="../public/images/logo/logo.jpg" alt="IMG-LOGO">
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                <div class="dropdown">
                    <img src={{userDisplayPicture}} class="header-icon1" class="dropdown-toggle" data-toggle="dropdown" alt="ICON" style="border-radius:50%; height:32px;">
                    <ul class="dropdown-menu">
                        <li>
                            <a href="../restaurants">Restaurants</a>
                        </li>
                        <li>
                            <a href="../orders">Orders</a>
                        </li>
                        <li>
                            <a href="../logout">Logout</a>
                        </li>
                    </ul>
                </div>

                <span class="linedivide2"></span>

                <div class="header-wrapicon2">
                    <img src="../public/images/icons/cart.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">{{cartQuantity}}</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                           {{!-- mobile cart notification --}}
                        </ul>

                        <div class="header-cart-total">
                            {{!-- mobile total cost --}}
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">

                                <a href="../viewCartItems" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="restaurant"style="text-align:center;"><p style="font-size:50px;">{{restaurantName}}</p></div>

    <section class="bgwhite p-t-55 p-b-65">
        <div class="container">
            <div class="row">
                <div class="p-b-50">
                     {{#each items}}
                    <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                       
                      
                        <div class="block2">
                            <div class="block2-img wrap-pic-w of-hidden pos-relative">
                                <img src={{itemImage}} alt="IMG-PRODUCT" height="240px" width="366px" >

                                <div class="block2-overlay trans-0-4">
                                    <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                        <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                    </a>

                                    <div class="block2-btn-addcart w-size1 trans-0-4">
                                        <!-- Button -->
                                        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="block2-txt p-t-20">
                                <p class="block2-name dis-block s-text3 p-b-5">
                                    {{itemName}}
                                </p>
                                <span class="block2-price m-text6 p-r-5">
                                    {{itemCost}}
                                </span>
                            </div>
                        </div>
                       
                    </div>    
                     {{/each}}
                </div>
            </div>
        </div>
    </section>



    <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="flex-w p-b-90">
            <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">

                </h4>

                <div>
                    <p class="s-text7 w-size27">
                        Any issuses? Let us know ph.no 9100878305
                    </p>

                    <div class="flex-m p-t-30">
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                        <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                    </div>
                </div>
            </div>






            <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
                <h4 class="s-text12 p-b-30">
                    Enquiries
                </h4>

                <form>
                    <div class="effect1 w-size9">
                        <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                        <span class="effect1-line"></span>
                    </div>

                    <div class="w-size2 p-t-20">

                        <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                            Send
                        </button>
                    </div>

                </form>
            </div>
        </div>


    </footer>
    <script type="text/javascript" src="../views/public/scripts/jquery/dist/jquery.min.js"> </script>
    <script type="text/javascript" src="../views/public/scripts/sweetalert/sweetalert.min.js"> </script>
    <script type="text/javascript" src="../views/public/scripts/custom/cart.js"></script>

</body>

</html>